/data	{{ network_cidr }}(rw,sync,acl,no_root_squash,no_subtree_check)
{% if client_cidr is defined and client_cidr != '' %}
/data	{{ client_cidr }}(rw,sync,acl,no_root_squash,no_subtree_check)
{% endif %}
